[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = License Plate Recognition Using OpenCV
[access "refs/*"]
	owner = group user/Nishrith Saini (Nishrith)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Nishrith Saini (Nishrith)
	label-Verified = -1..+1 group user/Nishrith Saini (Nishrith)
	push = group user/Nishrith Saini (Nishrith)
	read = group user/Nishrith Saini (Nishrith)
	rebase = group user/Nishrith Saini (Nishrith)
	removeReviewer = group user/Nishrith Saini (Nishrith)
	submit = group user/Nishrith Saini (Nishrith)
[access "refs/heads/*"]
	create = group user/Nishrith Saini (Nishrith)
	push = +force group user/Nishrith Saini (Nishrith)
	pushMerge = group user/Nishrith Saini (Nishrith)
	read = group user/Nishrith Saini (Nishrith)
[access "refs/tags/*"]
	push = group user/Nishrith Saini (Nishrith)
	push = +force group user/Nishrith Saini (Nishrith)
